# 1. Data and Package Load

In [3]:
import pandas as pd
import numpy as np
from fbprophet import Prophet

In [5]:
df = pd.read_csv('./prophet/examples/example_wp_peyton_manning.csv')

In [6]:
df['y'] = np.log(df['y'])

In [7]:
df.head()

           ds         y
0  2007-12-10  9.590761
1  2007-12-11  8.519590
2  2007-12-12  8.183677
3  2007-12-13  8.072467
4  2007-12-14  7.893572

In [8]:
m = Prophet()

# 2. Fit

In [9]:
m = Prophet()
m.fit(df)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
/Users/sailyourlife/anaconda/lib/python3.6/site-packages/pystan/misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

# 3. Cross Validation

In [ ]:
from fbprophet.diagnostics import cross_validation
df_cv = cross_validation(m, horizon = '360 days')
df_cv.head()

/Users/sailyourlife/anaconda/lib/python3.6/site-packages/pystan/misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [12]:
df_cv[:]

            ds      yhat  yhat_lower  yhat_upper          y     cutoff
0   2014-01-21  9.440341    8.832602   10.075259  10.542574 2014-01-20
1   2014-01-22  9.267921    8.611256    9.868406  10.004283 2014-01-20
2   2014-01-23  9.264319    8.613264    9.874748   9.732818 2014-01-20
3   2014-01-24  9.278338    8.689093    9.890355   9.866460 2014-01-20
4   2014-01-25  9.088479    8.474022    9.755405   9.370927 2014-01-20
5   2014-01-26  9.461467    8.833228   10.056078   9.490545 2014-01-20
6   2014-01-27  9.713102    9.083498   10.384858  10.139152 2014-01-20
7   2014-01-28  9.465419    8.856089   10.095649   9.999843 2014-01-20
8   2014-01-29  9.270839    8.645037    9.873580  10.032716 2014-01-20
9   2014-01-30  9.242162    8.595061    9.892347  10.380374 2014-01-20
10  2014-01-31  9.228275    8.594764    9.871450  10.453053 2014-01-20
11  2014-02-01  9.007851    8.343514    9.540254  10.240138 2014-01-20
12  2014-02-02  9.347881    8.668445    9.988351  11.760520 2014-01-20
13  2014-02-03  9.564520    8.914296   10.189965  12.846747 2014-01-20
14  2014-02-04  9.280249    8.642437    9.896955  10.766884 2014-01-20
15  2014-02-05  9.048010    8.424551    9.644108   9.845223 2014-01-20
16  2014-02-06  8.981198    8.355610    9.590429   9.290352 2014-01-20
17  2014-02-07  8.929350    8.305239    9.553646   9.103312 2014-01-20
18  2014-02-08  8.671835    8.053477    9.316181   8.795734 2014-01-20
19  2014-02-09  8.976366    8.367674    9.610196   8.623353 2014-01-20
20  2014-02-10  9.159830    8.540025    9.828443   8.418256 2014-01-20
21  2014-02-11  8.845429    8.249655    9.429881   8.310907 2014-01-20
22  2014-02-12  8.586801    7.954558    9.244763   8.236156 2014-01-20
23  2014-02-13  8.497986    7.843857    9.109632   8.131237 2014-01-20
24  2014-02-14  8.429103    7.837339    9.071503   7.927685 2014-01-20
25  2014-02-15  8.160016    7.515893    8.748808   7.759187 2014-01-20
26  2014-02-16  8.458838    7.864867    9.117203   7.726654 2014-01-20
27  2014-02-17  8.642741    7.982002    9.245016   7.835184 2014-01-20
28  2014-02-18  8.335086    7.722556    8.947738   7.884200 2014-01-20
29  2014-02-19  8.089543    7.493878    8.746558   7.914618 2014-01-20
..         ...       ...         ...         ...        ...        ...
697 2015-12-22  8.877772    7.469147   10.204734   8.110427 2014-01-20
698 2015-12-23  8.706771    7.302898   10.105958   7.775276 2014-01-20
699 2015-12-24  8.708846    7.245497   10.084933   7.347300 2014-01-20
700 2015-12-25  8.732941    7.255129   10.053400   7.301822 2014-01-20
701 2015-12-26  8.557696    7.131969    9.948454   7.120444 2014-01-20
702 2015-12-27  8.949970    7.515767   10.371868   8.878776 2014-01-20
703 2015-12-28  9.225694    7.775316   10.513359   9.250618 2014-01-20
704 2015-12-29  9.007026    7.506986   10.446623   9.247925 2014-01-20
705 2015-12-30  8.846497    7.372732   10.259769   8.391403 2014-01-20
706 2015-12-31  8.856999    7.353743   10.252181   8.004700 2014-01-20
707 2016-01-01  8.887484    7.459869   10.218103   7.589336 2014-01-20
708 2016-01-02  8.716665    7.237548   10.058072   7.825245 2014-01-20
709 2016-01-03  9.111525    7.708522   10.534321   8.249314 2014-01-20
710 2016-01-04  9.388167    7.952544   10.745257   9.295141 2014-01-20
711 2016-01-05  9.168960    7.774551   10.619318   8.568266 2014-01-20
712 2016-01-06  9.006673    7.588677   10.378990   8.352554 2014-01-20
713 2016-01-07  9.014453    7.675126   10.417751   8.295798 2014-01-20
714 2016-01-08  9.041513    7.574039   10.448018   8.290293 2014-01-20
715 2016-01-09  8.866813    7.297312   10.318761   7.785721 2014-01-20
716 2016-01-10  9.257573    7.825970   10.666747   8.281724 2014-01-20
717 2016-01-11  9.530099    8.033310   10.901265   8.470730 2014-01-20
718 2016-01-12  9.306925    7.794674   10.755281   8.135054 2014-01-20
719 2016-01-13  9.140938    7.729523   10.533172   8.067149 2014-01-20
720 2016-01-14  9.145351    7.633515   10.579266   8.023552 2014-01-20
721 2016-01-15  9.169385    7.774345   10.589322   8.021913 2014-01-20
722 2016-01-16  8.991951    7.558143   10.332852   7.817223 2014-01-20
723 2016-01-17  9.380160    7.879311   10.826741   9.273878 2014-01-20
724 2016-01-18  9.650151    8.254095   11.087769  10.333775 2014-01-20
725 2016-01-19  9.424244    7.920174   10.847523   9.125871 2014-01-20
726 2016-01-20  9.255067    7.812371   10.649735   8.891374 2014-01-20

[727 rows x 6 columns]